html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.side-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1408px;
}

.cta-btn {
  background: #00730C;
  border-radius: 5px;
  border: 1px solid #00730C;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 35px;
  transition: all .5s;
}

.cta-btn:hover {
  color: #00730C;
  background: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  border: 1px solid #00730C;
  border-radius: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

.swiper-button-prev::before {
  position: absolute;
  content: url(/arrow-green.svg);
  left: 6px;
  top: 8px;
}

.swiper-button-next::before {
  position: absolute;
  content: url(/arrow-green.svg);
  left: 12px;
  top: 5px;
  transform: rotate(180deg);
}