.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrapperInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 101px;
}

.list {
  margin: 0;
  padding: 0;
}

.listItem {
  display: inline-block;
  margin-right: 44px;
}

.listItem a {
  color: #212529;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.listItemActive a {
  color: #00730C;
}

.listItem:last-of-type {
  margin-right: 0;
}

.ctaBtn {
  background: #00730C;
  border: 1px solid #00730C;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  padding: 15.5px 35px 15.5px 70px;
  position: relative;
  transition: color .1s, background .3s;
}

.ctaBtn:hover {
  color: #00730C;
  background: #ffffff;
}

.ctaBtn::before {
  position: absolute;
  top: 10px;
  left: 30px;
  content: url('/phone-white.svg');
}

.ctaBtn:hover:before {
  content: url('/phone-green.svg');
}

.mobileOpen {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: unset;
  height: 19px;
}

.mobileOpenIcon {
  display: inline-block;
  background-image: url(/hamburger-open.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 19px;
}

@media screen and (min-width: 961px) {
  .mobileOpen {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .wrapperInner {
    display: none;
  }
}