.mobileNav {
  padding: 15px 16px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translate3d(-100vw, 0, 0);
  overflow: auto;
  transition: all .5s;
}

.mobileNavOpen {
  transform: translate3d(0, 0, 0);
}

.mobileNavWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileClose {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  background-image: url(/hamburger-close.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 19px;
  cursor: pointer;
  z-index: 100;
}

.mobileNavList {
  color: #212529;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.mobileNavListItem {
  border-bottom: 1px solid #212529;
  font-size: 16px;
  padding-bottom: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.ctaWrapper {
  margin-top: 50px;
  text-align: center;
}