.pagination {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 64px;
}

.prev,
.next {
  background-color: transparent;
  border: 1px solid #00730C;
  border-radius: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

.prev::before {
  position: absolute;
  content: url(/arrow-green.svg);
  left: 6px;
  top: 8px;
}

.next::before {
  position: absolute;
  content: url(/arrow-green.svg);
  left: 12px;
  top: 5px;
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.button {
  background: transparent;
  border: 1px solid #00730C;
  border-radius: 5px;
  color: #00730C;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  padding: 0px 18px;
  transition: all .5s;
}

.buttonActive {
  background: #00730C;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .pagination {
    display: none;
  }
}